<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Form</title>
</head>
<body>
    <div class="container">
        <hr>
        <h1>Form</h1>
        <hr>

        <form action="/form" method="POST">
            <div class="form-group">
                <label for="ttl">Website Title</label>
                <input type="text" class="form-control" name="ttl" id="ttl">
            </div>

            <div class="form-group">
                <label for="link">Brand logo URL</label>
                <input type="text" class="form-control" name="link" id="link">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
